# Auto detect text files and perform LF normalization
* text=auto

# Markdown
*.md text eol=lf

# Shell scripts
*.sh text eol=lf

# Git
.gitattributes text eol=lf
.gitignore text eol=lf

# License
LICENSE text eol=lf
